@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    /* neutral */
    --dark-blue: hsl(212, 21%, 14%);
    --grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --text-fonts: 'Fraunces', serif;
    --text-fonts-2: 'Montserrat', sans-serif;
}

body {
    width: 80%;
    height: 100vh;
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
}



p {
    font-size: 14px;
}

.card{
    width: 300px;
    height: 400px;
    position: relative;
    background-color: var(--White);
    
}

.image1 {
    height: 400px;
}

.image2 {
    display: none;
}

.container{
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    position: absolute;
    background-color: var(--White);
    padding: 20px;
}

.card-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 3px;
    color: var(--grayish-blue);
    font-family: var(--text-fonts-2);
}

.card-subtitle{
    margin-bottom: 10px;
    font-family: var(--text-fonts);
    margin-bottom: 10px;
    
}

.card-info{
    color: var(--grayish-blue);
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: var(--text-fonts-2);
}

.price {
    color: var(--Dark-cyan);
    font-family: var(--text-fonts);
}

.price2{
    color: var(--grayish-blue);
    text-align: right;
    margin-top: -30px;
    font-size: small;
    text-decoration: line-through;
    padding-right: 25%;
    font-family: var(--text-fonts-2);
}

button{
    background-color: var(--Dark-cyan);
    border-radius: 10px;
    border: solid 10px var(--Dark-cyan);
    min-height: 30px; 
    min-width: 250px;
    margin-top: 20px;
    font-family: var(--text-fonts-2);
}

button a {
    color: var(--White);
    text-decoration: none;

}

@media screen and (max-width: 450px){

    body{
        /* width: 80%; */
        height: 40vh;

    }
    
    .card{
        width: 200px;
        height: 200px;
        position: relative;
    }

    .image1{
        display: none;
    }

    .image2{
        display: block;
        height: 200px;
        object-fit: cover;
    }

    .container{
        top: 200px;
        left: 0px;
        width: 285px;;
    }

    .price .price2 {
        background-color: var(--White);
    }
}

/* .attribution { 
    font-size: 11px; 
    text-align: center;
 }
.attribution a { 
    color: hsl(228, 45%, 44%); 
} */

